.Gallery {
  text-align: center;
  background-color: rgb(53, 53, 53);
  color: white;
  margin-top: 20px;
  margin-left: 1%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(53, 53, 53);
  color: white;
  color: white;
  text-align: center;
}

li {
  /* background-color: orange; */
  margin-left: 5px;
  margin-right: 5px;
}
