#container{
    background-color: whitesmoke;
    color: rgb(53, 53, 53);
    margin-top: 20px;
    text-align: center;
    padding: 10%;
}
.distribution{
    margin-left: 20%;
}
#Icons{
    margin-left: 1%;
}
.MoveIcon{
    width: 20px;
    height: 20px;
    margin-left: 10%;
}
.pallet{
    background-color: none;
}
h3{
    margin-left: 15%;
}
#ProductImage{
    width: 300px;
}
#ProductImage:hover{
    transform: scale(1.5);
}

