body{
/* background-image: url("https://c.tribune.com.pk/2015/05/888124-Wall_of_Fire_by_JJenkinsPhotography-1431919198.jpg"); */
background-color: white;
margin-top: 20px;
}

.Logo{
    /* margin-left: 15%; */
    border-radius: 5px;
    margin-left: 5%;
}
.icon{
    width: 50px;
    height: 50px;
}
.navy{
    width: 200px;
    height: 150px;
}
#showcaseNav{
    background-color: whitesmoke;
    color: rgb(53, 53, 53);
    margin-top: 20px;;
}
.Title{
    margin-top: 60px;
    font-size: 130px;
    margin-left: -25%;
    background-color :white;
    color:rgb(53, 53, 53);
    font-family: 'Lobster', cursive;
    /* font-family: 'Chivo', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Exo 2', sans-serif; */
/* font-family: 'Vollkorn', serif; */

}
#MenuItem{
    /* font-family: 'Playfair Display', serif; */
/* font-family: 'Lora', serif; */
font-family: 'Lobster', cursive;
/* font-family: 'Cinzel', serif; */
/* font-family: 'Suranna', serif; */
}
.showcase{
    width: 80%;
    height: 80%;
    margin-left: 10%;
}
.image{
    width: 600px;
    height: 450px;
    padding: 2%;
   
}
#Social{
    color: white;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    /* margin-left: 25%; */
}

#navy{
    background-color: white;
    color: rgb(53, 53, 53);
}
#About{
    background-color: whitesmoke;
    color: rgb(53, 53, 53);
    margin-top: 20px;
    margin-left: 1%;
}

#Services{
}

#instagram{
    width: 30px;
    height: 30px;
    text-align: center;
}
#facebook{
    width: 50px;
    height: 50px;
    text-align: center;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(53, 53, 53);
    color: black;
    text-align: center;
}

.copyright{
    text-align: center;
}

@media only screen and (max-width: 736px) {
    .Logo{
        margin-left: 20%;
        border-radius: 5px;
        width: 250px;
        height: 250px;
    }
    .Title{
        margin-top: 60px;
        font-size: 80px;
        margin-left: 0%;
        color: grey;
        /* font-family: 'Slabo 27px', serif; */
        /* font-family: 'Roboto Slab', serif; */
        /* font-family: 'PT Serif', serif; */
        /* font-family: 'Libre Caslon Text', serif; */
        /* font-family: 'Radley', serif; */
        font-family: 'Rock Salt', cursive;
    }
  }

  @media only screen and (max-width: 414px) {
    .Logo{
        margin-left: 30%;
        border-radius: 5px;
        width: 250px;
        height: 250px;
    }
    .Title{
        margin-top: 60px;
        font-size: 80px;
        margin-left: 0%;
        color: grey;
        /* font-family: 'Slabo 27px', serif; */
        /* font-family: 'Roboto Slab', serif; */
        /* font-family: 'PT Serif', serif; */
        /* font-family: 'Libre Caslon Text', serif; */
        /* font-family: 'Radley', serif; */
        font-family: 'Rock Salt', cursive;
    }
  }