body{
background-image: url("https://c.tribune.com.pk/2015/05/888124-Wall_of_Fire_by_JJenkinsPhotography-1431919198.jpg");
margin-top: 20px;
}

.Logo{
    /* margin-left: 15%; */
    border-radius: 5px;
}
.icon{
    width: 50px;
    height: 50px;
}
.navy{
    width: 200px;
    height: 150px;
    margin-left: 1%;
}
#showcaseNav{
    width: 110%; background-color: white;
    margin-left: 1%;
    margin-top: 20px;;
}
.Title{
    margin-top: 60px;
    font-size: 100px;
    margin-left: -10%;
    color: grey;
    /* font-family: 'Slabo 27px', serif; */
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'PT Serif', serif; */
    /* font-family: 'Libre Caslon Text', serif; */
    /* font-family: 'Radley', serif; */
    font-family: 'Rock Salt', cursive;
}
.showcase{
    width: 80%;
    height: 80%;
    margin-left: 10%;
}

#Social{
    color: white;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    /* margin-left: 25%; */
}

#navy{
    background-color: white;
    margin-left: 1%;
    width: 100%;
}
#About{
    margin-top: 20px;
    padding-left: 5px;
}

#Services{
}

#instagram{
    width: 30px;
    height: 30px;
    /* margin-right: 10%; */
}
#facebook{
    width: 50px;
    height: 50px;
    margin-left: -10px;
}
footer{
    flex-shrink: 0;
    height: 30px;
    background-color: white;
    text-align: center;
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.copyright{
    text-align: center;
}

@media only screen and (max-width: 736px) {
    .Logo{
        margin-left: 20%;
        border-radius: 5px;
        width: 250px;
        height: 250px;
    }
    .Title{
        margin-top: 60px;
        font-size: 80px;
        margin-left: 0%;
        color: grey;
        /* font-family: 'Slabo 27px', serif; */
        /* font-family: 'Roboto Slab', serif; */
        /* font-family: 'PT Serif', serif; */
        /* font-family: 'Libre Caslon Text', serif; */
        /* font-family: 'Radley', serif; */
        font-family: 'Rock Salt', cursive;
    }
  }

  @media only screen and (max-width: 414px) {
    .Logo{
        margin-left: 30%;
        border-radius: 5px;
        width: 250px;
        height: 250px;
    }
    .Title{
        margin-top: 60px;
        font-size: 80px;
        margin-left: 0%;
        color: grey;
        /* font-family: 'Slabo 27px', serif; */
        /* font-family: 'Roboto Slab', serif; */
        /* font-family: 'PT Serif', serif; */
        /* font-family: 'Libre Caslon Text', serif; */
        /* font-family: 'Radley', serif; */
        font-family: 'Rock Salt', cursive;
    }
  }